
<form action="{% url 'app:mensagem' %}" method="POST">
    {% csrf_token %}
    <div>
        <label for="">Aluno</label>
        <input type="text" name="remetente" id="">
    </div>
    <div>
        <label for="">Professor</label>
        {{ mensagem_form.destinatario }}
    </div>
    <div>
        <label for="">Mensagem</label>
        <textarea name="mensagem" id="" cols="30" rows="10"></textarea>
    </div>
    <button type="submit">Enviar</button>
</form>


<div>
    {% for mensagem in mensagens %}
    <p>Remetente: {{ mensagem.aluno }}</p>
    <p>Destinatario: {{  mensagem.professor }}</p>
    <p>{{ mensagem.mensagem }}</p>
    {% endfor %}
</div>