{% extends 'app/base_usuario.html' %}
{% load static %}

{% block content_aluno %}
<!-- Navbar -->
{% include 'app/partials/_usuario_navbar.html' %}

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- INFORMACOES DO ALUNO FOTO RA ETC... -->
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         
         <p class="w3-center"><img src="{{ user.imagem.url }}" class="w3-circle" style="height:106px;width:106px" alt="{{ user }}"></p>
         <h4 class="w3-center">{{ user.usuario.first_name }}</h4>
         <hr>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>RA: {{ user.ra }}</p>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>Turma: {{ turma.turma }}</p>
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i>Semestre: {{ turma.semestre }}</p>
         <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i>{{ curso }}</p>
         <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i>{{ user.usuario.email }}</p>
        </div>
      </div>
      <br>
      
      <!-- Accordion Partials-->
      <div class="w3-card w3-round">
        <div class="w3-white">
          <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i>Disciplinas</button>
          <div id="Demo1" class="w3-hide w3-container">
            {% for disciplina in disciplinas %}
            <div>
              <a href="">{{ disciplina.nome }}</a>
            </div>
            {% endfor %}
          </div>
          <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Events</button>
          <div id="Demo2" class="w3-hide w3-container">
            <p>Some other text..</p>
          </div>
          <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> My Photos</button>
          <div id="Demo3" class="w3-hide w3-container">
         <div class="w3-row-padding">
         <br>
           <div class="w3-half">
             <img src="/w3images/lights.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/mountains.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/forest.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/snow.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
         </div>
          </div>
        </div>      
      </div>
      <br>
      
      <!-- Interests Partials--> 
      <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>Cursos</p>
          <p>
            {% for curso in cursos %}
            <a href="{% url 'app:curso' curso.id %}"><span class="w3-tag w3-small w3-theme-d5">{{ curso.nome }}</span></a>
            {% endfor %}
          </p>
        </div>
      </div>
      <br>
      
      
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m7">
    
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
              <h6 class="w3-opacity">Social Media template by w3.css</h6>
              <p contenteditable="true" class="w3-border w3-padding">Status: Feeling Blue</p>
              <button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Post</button> 
            </div>
          </div>
        </div>
      </div>
      <!-- EXIBIR INFORMACOES IMPORTANTES DE DISCIPLINAS ATIVIDADES -->
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <!-- <img src="/w3images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px"> -->
        {% for atividade in atividades %}
          <div>
            <span class="w3-right w3-tag w3-small w3-theme-l2">Data de inicio: {{ atividade.dt_inicio }}</span>
            <h3>Disciplina: {{ atividade.disciplina.nome }}</h3>
            <h4>Atividades: {{ atividade.titulo }}</h4>
            <hr class="w3-clear">
            <p>{{ atividade.descricao }}</p>
            
            <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i> Entregar</button> 
            <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i> Comentário</button> 
            <span class="w3-right w3-tag w3-small w3-theme-l2">Data de fim: {{ atividade.dt_fim }}</span>
            <hr class="w3-clear">
          </div>
        {% endfor %}
      </div>
      <hr class="w3-clear">
      <!-- FIM INFORMACOES -->
           
    <!-- End Middle Column -->
    </div>
    
    <!-- ESPACO PARA AVISOS -->
    <!-- Right Column -->
    <div class="w3-col m2">
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Atividade para entregar</p>

          {% for atividade in atividades_limit %}
          <p><strong>{{ atividade.disciplina.nome }}</strong></p>
          <p>{{ atividade.titulo }}</p>

            {% if atividade.status == 'ABERTA' %}
              <p><button onclick="document.getElementById('id01').style.display='block'"
                class="w3-button w3-block w3-green w3-section">Entregar</button></p>
            {% elif atividade.status == 'PRORROGADA' %}
              <p><button onclick="document.getElementById('id01').style.display='block'"
                 class="w3-button w3-block w3-yellow w3-section">Prorrogada</button></p>
            {% else %}
              <p><button class="w3-button w3-block w3-red w3-section" disabled>Fechada</button></p>
            {% endif %}
            
          <hr class="w3-clear">
          {% endfor %}
        </div>
      </div>
      <br>

      <!-- MODAL INICIO -->
      <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-animate-right">
          <header class="w3-container w3-theme-d2"> 
            <span onclick="document.getElementById('id01').style.display='none'" 
            class="w3-button w3-display-topright">&times;</span>
            <h2>Entrega da atividade</h2>
            <h3>user: {{ user.usuario.first_name }} RA: {{ aluno.ra }}</h3>
          </header>
          <div class=" w3-light-grey">
            <form class="w3-container w3-card-4 " action="/action_page.php">
              
                
              <hr class="w3-clear">
              <textarea class="w3-input w3-border" style="height: 100px;"></textarea>
              <hr class="w3-clear">
              <input type="file" class="w3-button w3-theme-d1 w3-margin-bottom">
              <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fas fa-arrow-up"></i> Entregar</button>
            </form>
          </div>
          <footer class="w3-container w3-theme-d2">
            <p id="data-atual"></p>
          </footer>
        </div>
      </div>
      <!-- FIM MODAL -->
      
      <!-- ATIVIDADE PARA ENTREGAR -->
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Friend Request</p>
          <img src="/w3images/avatar6.png" alt="Avatar" style="width:50%"><br>
          <span>Jane Doe</span>
          <div class="w3-row w3-opacity">
            <div class="w3-half">
              <button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i></button>
            </div>
            <div class="w3-half">
              <button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-remove"></i></button>
            </div>
          </div>
        </div>
      </div>
      <br>
      
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>

<!-- Footer Partials-->
{% include 'app/partials/_footer.html' %}
{% endblock %}
