{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Escola</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>

<!-- Side Navigation -->

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="{% url 'app:home' %}" class="navbar-brand">Escola</a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="navbar-item dropdown">
          <a href="" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Cursos</a>
          <ul class="dropdown-menu">
            {% for curso in cursos %}
              <li><a class="dropdown-item" href="{% url 'app:curso' curso.id %}">{{ curso.nome }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      
      {% if user.is_authenticated %}
      <div class="mb-3">
        <a href="{% url 'app:logout' %}" class="btn btn-danger">Sair</a>
      </div>
      <div class="mb-3">
        <a href="{% url 'app:aluno' user.id %}" class="btn btn-success">Area do aluno</a>
      </div>
      {% else %}
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModalLogin">
        Login
      </button>
      {% endif %}
    </div>
  </div>
</nav>    

<!-- Header -->

<div class="w3-content" style="max-width:1300px;position:relative">
<hr>
<!-- The Tour Section -->
<div class="w3-black" id="tour">
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
    <h2 class="w3-wide w3-center">Conheça os cursos</h2>
    <p class="w3-opacity w3-center"><i>Graduação e Pós Graduação</i></p><br>
    <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
      {% for curso in cursos %}
      <div class="w3-third w3-margin-bottom">
        
        <img src="{{ curso.imagem.url }}" alt="{{ curso.nome }}" style="width:100%; height: 200px;" class="w3-hover-opacity">
       
        <div class="w3-container w3-white">
          <p><b>{{ curso.nome }}</b></p>
          <p class="w3-opacity">{{ curso.modalidade }}</p>
          <p>{{ curso.descricao }}</p>
          <a href="{% url 'app:curso' curso.id %}" class="w3-button w3-black">Conheça o curso</a>
        </div>
      </div>
      {% endfor %}
      
    </div>
  </div>
</div>
<hr>
<!--Modal login-->
<div class="modal" id="myModalLogin">
  <div class="modal-dialog">
    <div class="modal-content">
      <!--modal header-->
      <div class="modal-header">
        <h4 class="modal-title">Login</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <!--modal body-->
      <div class="modal-body">
        <form action="{% url 'app:login' %}" method="post">
          {% csrf_token %}
          <div class="mb-3 mt3">
            <label for="">Usuario</label>
            <input type="text" class="form-control" name="usuario" placeholder="Usuario">
          </div>
          <div class="mb-3 mt-3">
            <label for="">Password</label>
            <input type="password" class="form-control" name="pswd" placeholder="Password">
          </div>
          <div class="form-check mb-3">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="remember">Remember me
            </label>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--Fim Modal login-->

<!-- Footer -->
<div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
  <h2 class="w3-wide w3-center">CONTATO</h2>
  <p class="w3-opacity w3-center"><i></i></p>
  <div class="w3-row w3-padding-32">
    <div class="w3-col m6 w3-large w3-margin-bottom">
      <i class="fa fa-map-marker" style="width:30px"></i>São Paulo<br>
      <i class="fa fa-phone" style="width:30px"></i> Phone: 00 00000-0000<br>
      <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
    </div>
    <div class="w3-col m6">
      <form action="/action_page.php" target="_blank">
        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
          <div class="w3-half">
            <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
          </div>
          <div class="w3-half">
            <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
          </div>
        </div>
        <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
        <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
      </form>
    </div>
  </div>
</div>

<!-- Script for Sidebar, Tabs, Accordions, Progress bars and slideshows -->
<script>
// Side navigation
function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "100%";
  x.style.fontSize = "40px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
}
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

// Tabs
function openCity(evt, cityName) {
  var i;
  var x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  var activebtn = document.getElementsByClassName("testbtn");
  for (i = 0; i < x.length; i++) {
    activebtn[i].className = activebtn[i].className.replace(" w3-dark-grey", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-dark-grey";
}

var mybtn = document.getElementsByClassName("testbtn")[0];
mybtn.click();

// Accordions
function myAccFunc(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// Slideshows
var slideIndex = 1;

function plusDivs(n) {
  slideIndex = slideIndex + n;
  showDivs(slideIndex);
}

function showDivs(n) {
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}

showDivs(1);

// Progress Bars
function move() {
  var elem = document.getElementById("myBar");   
  var width = 5;
  var id = setInterval(frame, 10);
  function frame() {
    if (width == 100) {
      clearInterval(id);
    } else {
      width++; 
      elem.style.width = width + '%'; 
      elem.innerHTML = width * 1  + '%';
    }
  }
}
</script>

</body>
</html>
